@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="container-fluid">
    <div class="row">
        @* Selected Artist div *@

        <a href="#" class="btn btn-primary">Back to results</a>

        <div class="col-md-12">
            <div class="col-md-4">
                <div class="row">

                    <div class="card" style="margin:1.25em 0em 1.25em 0em;">
                        <img src="~/images/testImage.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        @* Result text div *@
        <div class="col-md-12">
            <h4 name="eventsCountText" style="margin: 1em 0em 1em 0em;">
                8 upcoming events
            </h4>

        </div>
    </div>
    <div class="row">
        @* Cards div *@
        <div class="col-md-4">
            <div class="card">
                <h5 class="card-header">
                    EVENT DETAILS
                </h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <p><strong>Country</strong></p>
                            <p>
                                Pakistan
                            </p>
                            <p>

                            </p>
                            <p><strong>City</strong></p>
                            <p>
                                Islamabad
                            </p>
                            <p>

                            </p>
                        </div>
                        <div class="col">
                            <p><strong>Venue</strong></p>
                            <p>F-9 Park</p>
                            <p>

                            </p>
                            <p><strong>Date</strong></p>
                            <p>
                                28 Oct, 2020
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>