@{
    ViewData["Title"] = "Home Page";
}

@{
    if (ViewBag.Page == "1")
    {
        @*@Html.Partial("ViewPage1");*@
        <div class="container-fluid">
            <div class="row">
                @* Search form div *@
                <div class="col-md-12">
                    <form role="form" method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Index" onsubmit="showLoader(this);">
                        <div class="form-group">
                            <label for="searchTerm">
                                Search
                            </label>
                            <input type="text" class="form-control" name="searchTerm" id="searchTerm" value="@ViewBag.searchedTerm"/>
                        </div>
                        <button type="submit" class="btn btn-primary">
                            Submit
                        </button>
                    </form>
                </div>
            </div>
            @{
                Html.RenderPartial("SearchedArtists");
            }
        </div>
    }

    else if (ViewBag.Page == "2")
    {
        @Html.Partial("ArtistEventDetails");
    }
}